body {
    background-color: #edf0f3;
}

.img {
    width: 100%;
    height: 293px;
    object-fit: cover;
}

.fa-2x {
    font-size: 1.5em !important;
}

.container {
    max-width: 1024px;
}

.btn-custom {
    color: rgb(0, 0, 0);
    /* background-color: #0495c9; */
    /* border-color: #357ebd; set the color you want here */
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .open>.dropdown-toggle.btn-custom {
    color: rgb(223, 69, 69);
    /* background-color: #00b3db; */
    /* border-color: #285e8e; set the color you want here */
}

textarea {
    resize: none;
}