body {
    font-family: sans-serif;
}

h1, h5 {
    margin: 0;
    color: #fff;
}

h1 {
    font-size: 2.5rem;
}

h5 {
    opacity: 0.66;
    font-weight: normal;
    font-size: 1.25rem;
}

.container {
    position: relative;
    width: 500px;
    height: 750px;
    margin: 50px auto;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.time {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.time-item {
    flex: 1 1 auto;
    border-radius: 5px;
    margin-right: 5px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.time-item:last-child {
    margin-right: 0;
}

.time-item>div {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.content {
    position: absolute;
    height: 750px;
    width: 500px;
    background-image: linear-gradient( -180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.texts {
    padding: 7%;
}

#back, #next {
    position: absolute;
    top: 0;
}

#back {
    left: 0;
    height: 100%;
    width: 50%;
}

#next {
    left: 50%;
    height: 100%;
    width: 50%;
}

.close {
    position: absolute;
    top: -6px;
    right: -24px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #808080;
    text-shadow: 0 1px 0 #fff;
}